.Header {
    width: 100%;
    height: 80px;
    color: #16a085;
    font-size: 18px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    column-gap: 5%;
    justify-content: center;
    font-weight: bold;
}